<form
	class="flex-col col-mt-02"
	[formGroup]="formGroup">

	<div class="flex-row row-ml-02">

		<input
			class="flex-grow-1"
			autocomplete="off"
			required
			[placeholder]="'New Option'"
			[formControl]="inputControl"
			(keyup.enter)="onAddOptionClick()">

		<button (click)="onAddOptionClick()">
			{{ 'Add Option' }}
		</button>

	</div>

	<div class="errors-wrapper">

		<span
			*ngIf="inputControl.dirty && inputControl.hasError('required')"
			class="error-label">
			{{ 'Value is required' }}
		</span>

		<span
			*ngIf="inputControl.dirty && inputControl.hasError('unique')"
			class="error-label">
			{{ 'Value must be unique' }}
		</span>

	</div>

</form>
