<div class="flex-col col-mt-1">

	<span class="text-bold title">
		{{ 'Compare items' }}
	</span>

	<div class="flex-col col-mt-05">

		<div
			*ngFor="let pair of pairs; trackBy: trackById"
			class="flex-row row-ml-05">

			<div
				*ngFor="let option of pair.options; let i = index; trackBy: trackById"
				class="text-ellipsis option-item"
				[ngClass]="{
					'cursor-pointer': isOptionEnabled(pair, i),
					'cursor-prohibited': !isOptionEnabled(pair, i),
					'enabled': isOptionEnabled(pair, i),
					'disabled': !isOptionEnabled(pair, i),
					'selected': isOptionSelected(pair, i)
				}"
				(click)="onOptionClick(pair, i)">
				{{ option.value }}
			</div>

		</div>

	</div>

</div>
