.title {
	user-select: none;
	font-size: 1.25rem;
}

.option-item {
	user-select: none;
	border: 1px solid #cccccc;
	border-radius: 4px;
	padding: 0.5rem 0.75rem;
	transition: all 0.2s ease-in-out;

	&.enabled {
		&:hover {
			border: 1px solid #333333;
		}
	}

	&.disabled {
		opacity: 0.5;
	}

	&.selected {
		background-color: #00cc00;
		color: #ffffff;

		&:hover {
			background-color: #009900;
		}
	}
}
