.m-auto {
	margin: auto;
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.my-auto {
	margin-top: auto;
	margin-bottom: auto;
}


.m-0 {
	margin: 0;
}

.m-05 {
	margin: 0.5rem;
}

.m-1 {
	margin: 1rem;
}

.m-2 {
	margin: 2rem;
}


.mt-0 {
	margin-top: 0;
}

.mt-05 {
	margin-top: 0.5rem;
}

.mt-1 {
	margin-top: 1rem;
}

.mt-2 {
	margin-top: 2rem;
}


.mr-0 {
	margin-right: 0;
}

.mr-05 {
	margin-right: 0.5rem;
}

.mr-1 {
	margin-right: 1rem;
}

.mr-2 {
	margin-right: 2rem;
}


.mb-0 {
	margin-bottom: 0;
}

.mb-05 {
	margin-bottom: 0.5rem;
}

.mb-1 {
	margin-bottom: 1rem;
}

.mb-2 {
	margin-bottom: 2rem;
}


.ml-0 {
	margin-left: 0;
}

.ml-05 {
	margin-left: 0.5rem;
}

.ml-1 {
	margin-left: 1rem;
}

.ml-2 {
	margin-left: 2rem;
}


.mx-0 {
	margin-left: 0;
	margin-right: 0;
}

.mx-05 {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.mx-1 {
	margin-left: 1rem;
	margin-right: 1rem;
}

.mx-2 {
	margin-left: 2rem;
	margin-right: 2rem
}


.my-0 {
	margin-top: 0;
	margin-bottom: 0;
}

.my-05 {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.my-1 {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.my-2 {
	margin-top: 2rem;
	margin-bottom: 2rem;
}


.p-0 {
	padding: 0;
}

.p-05 {
	padding: 0.5rem;
}

.p-1 {
	padding: 1rem;
}

.p-2 {
	padding: 2rem;
}


.pt-0 {
	padding-top: 0;
}

.pt-05 {
	padding-top: 0.5rem;
}

.pt-1 {
	padding-top: 1rem;
}

.pt-2 {
	padding-top: 2rem;
}


.pr-0 {
	padding-right: 0;
}

.pr-05 {
	padding-right: 0.5rem;
}

.pr-1 {
	padding-right: 1rem;
}

.pr-2 {
	padding-right: 2rem;
}


.pb-0 {
	padding-bottom: 0;
}

.pb-05 {
	padding-bottom: 0.5rem;
}

.pb-1 {
	padding-bottom: 1rem;
}

.pb-2 {
	padding-bottom: 2rem;
}


.pl-0 {
	padding-left: 0;
}

.pl-05 {
	padding-left: 0.5rem;
}

.pl-1 {
	padding-left: 1rem;
}

.pl-2 {
	padding-left: 2rem;
}


.px-0 {
	padding-left: 0;
	padding-right: 0;
}

.px-05 {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.px-1 {
	padding-left: 1rem;
	padding-right: 1rem;
}

.px-2 {
	padding-left: 2rem;
	padding-right: 2rem;
}


.py-0 {
	padding-top: 0;
	padding-bottom: 0;
}

.py-05 {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.py-1 {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.py-2 {
	padding-top: 2rem;
	padding-bottom: 2rem;
}


.row-ml-0 {
	& > *:not(:first-child) {
		margin-left: 0;
	}
}

.row-ml-02 {
	& > *:not(:first-child) {
		margin-left: 0.2rem;
	}
}

.row-ml-05 {
	& > *:not(:first-child) {
		margin-left: 0.5rem;
	}
}

.row-ml-1 {
	& > *:not(:first-child) {
		margin-left: 1rem;
	}
}

.row-ml-15 {
	& > *:not(:first-child) {
		margin-left: 1.5rem;
	}
}

.row-ml-2 {
	& > *:not(:first-child) {
		margin-left: 2rem;
	}
}


.col-mt-0 {
	& > *:not(:first-child) {
		margin-top: 0;
	}
}

.col-mt-02 {
	& > *:not(:first-child) {
		margin-top: 0.2rem;
	}
}

.col-mt-05 {
	& > *:not(:first-child) {
		margin-top: 0.5rem;
	}
}

.col-mt-1 {
	& > *:not(:first-child) {
		margin-top: 1rem;
	}
}

.col-mt-15 {
	& > *:not(:first-child) {
		margin-top: 1.5rem;
	}
}

.col-mt-2 {
	& > *:not(:first-child) {
		margin-top: 2rem;
	}
}
