@import "flex";
@import "spacing";

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	color: #000000;
}

html,
button,
input {
	font-family: 'Titillium Web', sans-serif;
	font-size: 16px;
	line-height: 1.25;
}

.cursor-pointer {
	cursor: pointer;
}

.cursor-prohibited {
	cursor: not-allowed;
}

.text-bold {
	font-weight: 700;
}

.text-right {
	text-align: right;
}

.text-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
