<div class="flex-grow-1 p-2 flex-row row-ml-2 justify-content-center">

	<div class="flex-col col-mt-05 column-wrapper">

		<ua-option-form
			(optionAdd)="onOptionAdd($event)">
		</ua-option-form>

		<ua-options-list
			[options]="comparisonService.options$ | async"
			[isCompleted]="comparisonService.isCompleted$ | async"
			(optionRemove)="onOptionRemove($event)">
		</ua-options-list>

	</div>

	<ua-comparison-list
		class="column-wrapper"
		[pairs]="comparisonService.pairs$ | async"
		(optionSelect)="onOptionSelect($event)">
	</ua-comparison-list>

</div>
