.column-1 {
	width: 70%;
	max-width: 70%;
}

.column-2-3 {
	width: 15%;
	max-width: 15%;
}

.header {
	user-select: none;
	border-bottom: 2px solid #cccccc;
	padding: 0.5rem 0.75rem;
}

.option-item {
	user-select: none;
	border-bottom: 1px solid #cccccc;
	padding: 0.5rem 0.75rem;

	&.winner {
		background-color: #00cc00;
		color: #ffffff;
	}
}
