<div class="flex-col col-mt-05">

	<div class="flex-row row-ml-05 header">

		<span class="text-bold column-1">
			{{ 'Item' }}
		</span>

		<span class="text-bold text-right column-2-3">
			{{ 'Score' }}
		</span>

		<span class="text-bold text-right column-2-3">
		</span>

	</div>

	<div
		*ngFor="let option of options | optionsSort; let i = index; trackBy: trackById"
		class="flex-row row-ml-05 option-item"
		[ngClass]="{ 'winner': isCompleted && i === 0 }">

		<div class="text-bold text-ellipsis column-1">
			{{ option.value }}
		</div>

		<div class="text-right column-2-3">
			{{ option.rate }}
		</div>

		<i
			class="material-icons text-right cursor-pointer column-2-3"
			(click)="onRemoveClick(option)">
			remove_circle_outline
		</i>

	</div>

</div>
